.sign-in-btn {
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(81, 110, 206);
  border-radius: 5px;
  padding: 10px;
  color: white;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
}


.sign-in-btn-container 
  {
    margin: 0 auto;
    position: absolute;
    left:  50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
   }

   .sign-in-btn-container:hover{
    transform: scale(1.2);
   }
