.sign-out-btn {
  font-weight: bold;
  font-size: large;
  background-color: rgba(27, 97, 177, 0.863);;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.sign-out-btn:hover {
  cursor: pointer;
}
.sign-out-btn-container {
  display: flex;
  margin: 5px 0px;
}
