.homepage-container {
    padding: 10px;
    margin: 10px;
}

.homepage-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.file-action-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}