.taskadder-container{
    margin: 2px;
}

.taskAdder {
    width: 100%;
    height: 30px;
    border: none;
    background-color: white;
    color: grey;
    font-weight: bold;
    font-size: large;
    align-items: center;
  }

  .taskAdder:focus {
      border-color: red;
  }


  .addStandard {
      color: white;
      background-color: rgba(35, 115, 207, 0.863);
      padding: 5px;
      font-size: large;
      text-align: center;
      width: 100%;
      border-radius: 5px;
  }

  .addStandard:hover{
    background-color: rgba(27, 97, 177, 0.863);
    cursor: pointer;
}